
   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', sans-serif;
  }
  
  .home-body {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
  }
  
  .container {
    background-color: white;
    padding: 3rem 2rem;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
    width: 100%;
    max-width: 900px;
    margin:1 rem;
  }
  
  h1 {
    font-size: 1.8em;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  /* p {
    margin-bottom: 24px;
    font-size: 1em;
    color: #333;
  } */
  
  .anatomy-selection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 24px;
  }
  
  .anatomy-card {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
  }
  
  .anatomy-card:hover {
    border-color: #007bff;
    box-shadow: 0 4px 12px rgba(0, 123, 255, 0.2);
  }
  
  .anatomy-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .anatomy-card p {
  font-size: 1.1em;
  margin: 8px 0 0; 
  font-weight: 600;
  color: #111;
  }
  
  .logout-btn {
    margin-top: 10px;
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .logout-btn:hover {
    background-color: #49080e;
  }
  

 